[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
celery = "*"
requests = "*"
python-dateutil = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"
testcontainers = {extras = ["postgresql"], version = "*"}
pytest-mock = "*"

[requires]
python_version = "3.9"
